﻿<div class="row">
    <table class="table-bordered">
        <tr>
            <td>Title</td>
            <td colspan="2">@Html.TextBox("t_title")</td>
        </tr>
        <tr>
            <td>Description</td>
            <td colspan="2">@Html.TextBox("t_description")</td>
        </tr>
        <tr>
            <td>Status</td>
            <td colspan="2">@Html.TextBox("t_status")</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>@Html.TextBox("t_date")</td>
            <td>@Html.TextBox("t_date")</td>
        </tr>   
        <tr>
            <td>Sort by</td>
            <td colspan="2">@Html.TextBox("t_sortBy")</td>
        </tr>     
    </table>    
</div>
