﻿@model IEnumerable<Portal.ViewModel.TaskGetVM>

@{
    ViewBag.Title = "all tasks";
}
<br />

<h2>All tasks</h2>
<br/>
<br />

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<br />
<br />

@{ Html.RenderPartial("_Filters");    }
<br/>
<br/>
@if (Model == null)
{
    <div>
        No tasks were found.
    </div>

}
else
{
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Severity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Status
                </td>
                <td>
                   @item.Title
                </td>
                <td>
                    @item.Severity
                </td>
                <td>
                    @item.Priority
                </td>
                <td>
                    @item.Date
                </td>
                <td>
                    <button class="btn btn-info">Edit</button> |
                    @Html.ActionLink("Sub-Tasks", "Details", new { taskId = item.ID }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }

    </table>
}

